@model Genre
@{
}

<h2 class="text-2xl font-bold mb-4">Add Genre</h2>

<form method="post" class="space-y-4">
    <div class="form-group">
        <label for="GenreName" class="block text-sm font-medium text-gray-700">Genre Name</label>
        <input type="text" class="form-control mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" id="GenreName" name="GenreName" required />
    </div>
    <button type="submit" class="  bg-blue-300 text-black font-bold py-2 px-4 rounded hover:bg-indigo-700">Add Genre</button>
</form>
