@model Movie

<h1 class="text-2xl text-red-500">Add Movie</h1>

<form asp-action="add" class="font-semibold">
    <div class="form-group" style="background: #AAAAAA">
        <label asp-for="Name" class="control-label">Name :</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group" style="background: #AAAAAA">
        <label asp-for="genre_id" class="control-label">Genre :</label>
        <input asp-for="genre_id" class="form-control" />
    </div>
    
    <div class="form-group" style="background: #AAAAAA">
        <button type="submit" class="btn btn-primary">submit</button>
    </div>
    </form>